.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 248, 248);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.171);
    padding: 40px;
    position: relative;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    color: rgb(71, 77, 94);
  }
  
  .container h2 {
    margin-bottom: 40px;
  }