* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left,   rgb(17, 184, 230) , rgb(6, 240, 209), rgb(17, 184, 230)) ;

  
  padding: 5% 0%;
}

.areaHidden {
  display: none;
}
  
  