.game {
    position: relative;
}

.line {
    width: 240px;
    border: 1px solid rgb(124, 118, 118);
}

.column1, .column2 {
    position: absolute;
    top: 0px;
    height: 240px;
    border: 1px solid  rgb(124, 118, 118);
}

.column1 {
    right: 80px;
}

.column2 {
    right: 160px;
}
