.game {
    position: relative;
    max-width: 90%;
    min-width: 100px;
}

.line {
    min-width: 100px;
    max-width: 100%;
    border: 1px solid rgb(124, 118, 118);
}

.columnBox {
    position: absolute;
    max-height: 100%;
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.column1, .column2 {
    max-height: 100%;
    height: 240px;
    border: 1px solid  rgb(124, 118, 118);
}

.gameRow {
    display: flex;
}

