span {
    font-size: 24px;
    font-weight: bold;
    color:  #14d1c1;
    margin: 0 auto;
    margin-top: 10px;  
    text-align: center;
}

.newGame {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newGameBut {
    background-color: rgb(17, 184, 230);
    background-color: rgb(42, 5, 207);
    padding: 10px 12px;
    border-radius: 4px;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    border: 1px solid rgba(49, 108, 124, 0.205);
    transition: filter 0.2s;
}

.newGameBut:hover {
    filter: brightness(1.5);
}
  